*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container de serviços */
.servicos {
    background: rgb(11,88,96);
background: linear-gradient(125deg, rgba(11,88,96,1) 0%, rgba(196,214,217,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Grid para os cards */
.servicos .rows-cards {
    
    display: grid;
    grid-template-columns: repeat(2, 460px);
    gap: 30px;
    justify-content: center;
}

.nome-servico{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

/* Estilo dos cards */
.servicos .row-card-item {
    /* border: 1px solid red; */
    position: relative;
    background-color: #C3C3C3;
    height: 260px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.08);
}

.servicos .row-card-item:hover {
    /* opacity: 0.7; Efeito de hover */
}

.row-card-item:hover {
    transform: scale(1.02); /* Aumenta o tamanho do card */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); Sombra ao redor do card */
    /* filter: brightness(1.2); Aumenta o brilho do card */
    transition: transform 0.5s, box-shadow 0.3s, filter 0.3s; /* Transições suaves */
}


/* Imagem de fundo */
.servicos .row-card-item .service-image {
    opacity: 0.03; /* Transparência da imagem */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Nome do serviço */
.servicos .row-card-item p.nome-servico {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;
    margin: 0;
    font-weight: bold;
    color: #000000;
    padding: 5px;
    font-size: 2.2rem;
}

/* Container de cards */
.cards-container {
   
    padding: 200px; /* Ajuste conforme necessário */
    /* background-color: #f9f9f9;
    background: linear-gradient(to bottom right, #ffffff, #e0e0e0); Gradiente opcional */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    margin: 20px;
}

/* Ícones */
.icon-globe, .icon-tool, .icon-letter, .icon-gear {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 90px;
    color: #000; /* Cor padrão do ícone */
    z-index: 3;
}

/* Cores Alpha */

/* 
  --green-100: #c4d6d9;
  --green-200: #7ca4a9;
  --green-300: #6c9ca4;
  --green-500: #0b5860; */

/* Intranet */
/* .servicos .row-card-item:nth-child(1) { 
background: linear-gradient(to bottom, #FFEB3B, #FFC107);
} */


/* GLPI */
/* .servicos .row-card-item:nth-child(2) { 
    background-color: #8B4513; 
    color: #FFF; 
} */


/* Sugestões */
/* .servicos .row-card-item:nth-child(3) { 
    background-color: rgba(0, 128, 0, 0.5); 
} */


/* Em breve */
/* .servicos .row-card-item:nth-child(4) { 
    background-color: #D3D3D3; 
} */


