*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* background-image: linear-gradient(to right bottom, #09565f, #095a63, #095e68, #09626c, #096671, #0e6e78, #13777f, #187f86, #248d91, #2f9c9c, #3baaa7, #48b9b1); */
    background: rgb(11,88,96);
    background: linear-gradient(125deg, rgba(11,88,96,1) 0%, rgba(196,214,217,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}



.fundo{
    opacity: 0.03; /* Transparência da imagem */
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 0;
}


/* Grid para os cards */
.servicos .rows-cards {
    
    display: grid;
    grid-template-columns: repeat(2, 460px);
    gap: 100px;
    justify-content: center;
}

.nome-servico{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     */ 
}

.nome-servico {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Estilo dos cards */
.servicos .row-card-item {
    /* border: 1px solid red; */
    position: relative;
    background-color: #e5e5e5;
    width: 500px;
    height: 260px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 2rem;
    
}

.servicos .row-card-item:hover {
    /* opacity: 0.7; Efeito de hover */
}

.row-card-item:hover {
    transform: scale(1.02); /* Aumenta o tamanho do card */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); Sombra ao redor do card */
    /* filter: brightness(1.2); Aumenta o brilho do card */
    transition: transform 0.5s, box-shadow 0.3s, filter 0.3s; /* Transições suaves */
}


/* Imagem de fundo */
.servicos .row-card-item .service-image {
    opacity: 0.03; /* Transparência da imagem */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

/* Nome do serviço */
.servicos .row-card-item p.nome-servico {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    margin: 1%;
    font-weight: bold;
    color: #000000c2;
    font-size: 4rem;
    
    
}

/* Container de cards */
.cards-container {
   
    padding: 200px; /* Ajuste conforme necessário */
    /* background-color: #f9f9f9;
    background: linear-gradient(to bottom right, #ffffff, #e0e0e0); Gradiente opcional */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    margin: 20px;
    
}

/* Ícones */
.icon-globe, .icon-tool, .icon-letter, .icon-gear {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 45px;
    color:#000000c2; /* Cor padrão do ícone */
    z-index: 3;
}

/* Cores Alpha */

/* 
  --green-100: #c4d6d9;
  --green-200: #7ca4a9;
  --green-300: #6c9ca4;
  --green-500: #0b5860; */


  
/*
    #09565F 
    #096C77
    #BFD7D8


*/

/* Intranet */
/* .servicos .row-card-item:nth-child(1) { 
background: linear-gradient(to bottom, #FFEB3B, #FFC107);
} */


/* GLPI */
/* .servicos .row-card-item:nth-child(2) { 
    background-color: #8B4513; 
    color: #FFF; 
} */


/* Sugestões */
/* .servicos .row-card-item:nth-child(3) { 
    background-color: rgba(0, 128, 0, 0.5); 
} */


/* Em breve */
/* .servicos .row-card-item:nth-child(4) { 
    background-color: #D3D3D3; 
} */


